.about {
	position:realtive;
	margin:0 auto;
	width:455px;
	height:250px;
	left:50px;
	top:100px;
	font-family:arial;
	text-align:justify;
	}
	
.map {
	position:relative;
	margin:0 auto;
	text-align:center;
	top:-50px;
	width:900px;
	height:600px;
	font-family:arial;
	}